<div class="container">
    <div class="row">

        <h5 class="white-text boldest">Multinomial Triangles</h5>
        <p class="grey-text text-lighten-4">
            A novel generalisation of the pascal's triangle for expanding multinomials.
        </p>
        <br>
        <div>Icon made by <a class="white-text" href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from
            <a href="https://www.flaticon.com/" title="Flaticon" class="white-text">www.flaticon.com</a>
             </div>

    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <span>All rights reserved.</span>
    </div>
</div>