<li>
    <div class="user-view">
        <img src="images/logo-black.png">
    </div>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="index.html">
        <span class="material-icons middled">
            home
        </span>
        Home
    </a>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="project.html">
        <span class="material-icons">
            construction
        </span>
        The Project
    </a>
</li>
<li>
    <a href="updates.html">
        <span class="material-icons">
            timeline
        </span>
        Updates
    </a>
</li>
<li>
    <a href="getinvolved.html">
        <span class="material-icons">
            extension
        </span>
        Get Involved
    </a>
</li>
<li>
    <a href="about.html">
        <span class="material-icons">
            lightbulb
        </span>
        About
    </a>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="https://kronologue-ai.web.app/">
        <span class="kronologue-icon small"></span>
        Kronologue
    </a>
</li>